/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url(https://files.catbox.moe/gpij9v.jpg); */
  background-image: url(../img/1780502122892.png);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 100vh;
  padding: 35px;
}
h1 {
  margin-bottom: 10%;
}
.login {
  border-radius: 20px;
  width: 100%;
  padding: 15%;
  margin: 7%;
  box-shadow: 1px 1px 13px 13px rgb(0, 0, 0);
}
input {
  width: 100%;
  border-radius: 10px;
  padding: 10%;
  margin: 4%;
}
div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h3 {
  margin: 9%;
  box-shadow: 1px 1px 13px 13px rgb(0, 0, 0);
  padding: 6%;
}

button {
  padding: 5%;
  background: none;
  color: #fff;
  box-shadow: 1px 1px 13px 13px   rgb(0, 0, 0);
  border-radius: 6%;
}